<section id="services_new" class="services">
	<h1>New account</h1>

	<div>
		<h3>This authentication is new to Angrier Birds</h3>
		
		<p class="small">
			Provider: <%= @authhash[:provider] %><br />
			ID: <%= @authhash[:uid] %><br />
			Name: <%= @authhash[:fullname] %><br />
			Email: <%= @authhash[:email] %>	<br />
		</p>

		<%= form_tag :controller => "services", :action => "newaccount" do %>			
			<%= submit_tag "Confirm and create new account" %> <%= submit_tag "Cancel" %>
		<% end %>
	</div>

	<p class="small nomargin">
		If you already have an Angrier Birds account and just want to associate another authentication with it:
	</p>
	<ul class="small">
		<li>Log in to Angrier Birds with your existing authentication service.</li>
		<li>Go to your settings page (located on the left side of the page) and click "Authentication Services".</li>
		<li>Add one or more authentications to your account.</li>
	</ul>
</section>