<!DOCTYPE html>
<html>
	<head>
		<title>Angrier Birds</title>
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag :all, :cache => false %>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag('/sprockets.js') %>
		<body>
			<%= render "shared/header" %>
			<div id="wrapper">

				<section id="body">
					<section id="flash">
						<% flash.each do |key, value| %>
						<div class="flash <%= key %> round">
							<%= value %>
						</div>
						<% end %>
					</section>
					<%= yield %>

				</section>

				<div id="content">

				</div>

			</div>
		</body>
</html>
